html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 15px;
}

.count {
  font-size: 140px;
  color: orangered;
  margin: 60px;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 0px solid;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn:hover {
  background-color: rgb(169, 169, 169);
}

.buttonsBlock {
  display: flex;
  gap: 1rem;
}

.uiBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step {
  padding: 10px;
}
